body.monsterinsights-reporting-page {
	direction: rtl;
	text-align: right;
	unicode-bidi: embed;
}

body.monsterinsights_page #wpcontent {
	padding-right: 0;
}

.monsterinsights-nav-item,
.monsterinsights-reports-action-bar-title,
body.monsterinsights-reporting-page .monsterinsights-tabbed-nav-tab-title a,
body.monsterinsights-reporting-page .monsterinsights-user-icon,
body.monsterinsights-reporting-page .monsterinsights-eye-icon,
body.monsterinsights-reporting-page .monsterinsights-reports-infobox-prev {
	float: right;
}

.monsterinsights-reports-action-bar-actions,
.monsterinsights-header-mascot,
body.monsterinsights-reporting-page .monsterinsights-reports-infobox-compare,
body.monsterinsights-reporting-page .monsterinsights-reports-uright-tooltip,
body.monsterinsights-reporting-page .monsterinsights-reports-pie-graph-key,
body.monsterinsights-reporting-page .monsterinsights-reports-pie-visitors-graph-key,
body.monsterinsights-reporting-page .monsterinsights-pie-chart-legend-number,
body.monsterinsights-reporting-page .monsterinsights-reports-list-number {
	float: left;
}

body.monsterinsights-reporting-page .monsterinsights-tabbed-nav-tab-title a,
body.monsterinsights-reporting-page .monsterinsights-user-icon,
body.monsterinsights-reporting-page .monsterinsights-eye-icon {
	text-align: right !important;
}

.monsterinsights-header-mascot {
	left: 0;
	margin-left: 20px;
	margin-right: 0;
	right: auto;
}

body.monsterinsights-reporting-page .monsterinsights-reports-uright-tooltip {
	left: 7px;
	right: auto;
	text-align: right;
}

body.monsterinsights-reporting-page .monsterinsights-pie-chart-panel .monsterinsights-reports-uright-tooltip {
	left: 30px;
	right: auto;
}

body.monsterinsights-reporting-page .monsterinsights-reports-2-column-item .monsterinsights-reports-uright-tooltip {
	left: 20px;
	right: auto;
}

body.monsterinsights-reporting-page .monsterinsights-reports-pie-graph-key,
body.monsterinsights-reporting-page .monsterinsights-reports-pie-visitors-graph-key {
	left: 50px;
	right: auto;
}

body.monsterinsights-reporting-page .monsterinsights-pie-chart-legend-number {
	margin-left: 0;
	margin-right: 30px;
}

#monsterinsights-report-top-page-list .monsterinsights-reports-list-text {
	margin-left: 0;
	margin-right: 25px;
}

.monsterinsights-bootstrap-container .btn-group > .btn, .monsterinsights-bootstrap-container .btn-group-vertical > .btn {
	float: right;
}

body.monsterinsights-reporting-page .monsterinsights-reports-show-selector-group .monsterinsights-reports-show-selector-button.ten {
	border-radius: 0 4px 4px 0 !important;
	margin-right: 20px;
}

body.monsterinsights-reporting-page .monsterinsights-reports-show-selector-group .monsterinsights-reports-show-selector-button.fifty {
	border-radius: 4px 0 0 4px !important;
	margin-right: 0 !important;
}

.monsterinsights-header-title {
	padding-right: 20px;
}
