
.yoast-graphs {
	display: inline-block;
	clear: both;
	position: relative;
}

.yoast-graph {
	width: 840px;
	height: 425px;
	float: left;
	display: inline;
	margin: 5px;

}

.yoast-graph h2 {
	margin: 0 0 10px;
}

.yoast-graph-holder, .yoast-graph-yaxis {
	height: 300px;
}

.yoast-graph-holder, .yoast-graph-xaxis {
	width: 780px;
}

.yoast-graph-holder, .yoast-graph-yaxis, .yoast-graph-xaxis {
	float: left;
}

.yoast-graph-holder {
	margin: 0 5px 0 0;
	background: #FFF;
}

.yoast-graph-xaxis {
	height:      20px;
	margin-left: 50px;
}

.yoast-graph-yaxis {
	width: 50px;
	overflow: hidden;
}

.x_label {
	display: none;
}