$color_body_background: #f3f6ff;
$color_header_background: #f9fbff;
$color_button_background: #509fe2;
$color_button_background_hover: #3a93dd;
$color_button_background_faux: #b9d8f3;
$color_button_border: #2e7fbe;
$color_button_border_hover: #2971a9;
$color_button_text: #fff;
$color_button_disabled_background: #f3f6ff;
$color_button_disabled_border: #d6e2eb;
$color_button_disabled_text: #8ba4b7;
$color_button_secondary_background: #8da4b5;
$color_button_secondary_background_hover: #7e98ab;
$color_button_secondary_border: #6f8ca0;
$color_button_secondary_border_hover: #627f94;
$color_button_secondary_text: #fff;
$color_button_green_background: #5cc0a5;
$color_button_green_background_hover: #4ab99b;
$color_button_green_border: #40a88d;
$color_button_green_border_hover: #39967e;
$color_button_green_text: #fff;
$color_button_red_background: #ea4e64;
$color_button_red_border: #d21933;
$color_button_red_text: #fff;
$color_input_border: #b7c9d9;
$color_input_placeholder: $color_input_border;
$color_link: $color_button_background;
$color_link_hover: #393f4c;
$color_label_text: #777;
$color_layout_border: #d6e2ed;
$color_error_red: #d83638;
$color_navigation_link: #393f4c;
$color_text_highlight: #64bfa5;
$color_text_dark: #444;
$color_text_grey: #999797;
$color_checkbox_background: #acbdc9;
$color_checkbox_background_faux: #dee5e9;
$color_info_icon: #b6c9da;
$color_tooltip_background: #5f6197;
$color_error: $color_button_red_background;
$color_warning: #f5c953;
$color_info: $color_button_background;
$color_success: $color_button_green_background;
$color_delete: #dc3232;
$color_trend_red: #d73638;
$color_trend_green: #5cc0a5
