@font-face {
	font-family: "Lato";
	src: url("../../fonts/lato-regular-webfont.woff") format("woff"),
	url("../../fonts/lato-regular-webfont.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../../fonts/lato-bold-webfont.woff") format("woff"),
	url("../../fonts/lato-bold-webfont.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
    font-family: 'text-security-disc';
    src: url('../../fonts/text-security-disc.woff2') format('woff2'),
        url('../../fonts/text-security-disc.woff') format('woff'),
        url('../../fonts/text-security-disc.ttf') format('truetype');
}
